body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #3494E6, #EC6EAD);
}
h1
{
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label
{
    font-weight: bold;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.footer p{
    font-size: x-small;
    text-decoration: none;
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.links
{
    position:absolute;
   bottom:0;
   right:0;
    width: 90px;
    height: 30px;
    margin: 10px;
    background-color: #C850C0;
    border-radius: 10%;
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
    color: white;
}   
.links a:visited {
    color: white;
    text-decoration: none;
  }
  .links a:active {
    color: white;
    text-decoration: none;
  }
.links a:link{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
}
#moreResources
{
    font-size: smaller;
}
.counterBal, .counterTotalRecited
{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(194, 194, 194, 0.2);
    margin: 3px;
    width: 50%;
}
.counterBal p, .counterTotalRecited p
{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.counterBal h6, .counterTotalRecited h6
{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size:x-small;
}
.counter
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px) 
{
    .container {
        max-width: 250px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}
