body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1
{
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
label
{
    font-weight: bold;
}
.container {
    max-width: 380px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
input
{
    width: 350px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: medium;
}
button {
    width: 375px;
    background-color: #3FA2F6;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.footer p{
    font-size: x-small;
    text-decoration: none;
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.links
{
    position:absolute;
   bottom:0;
   right:0;
    width: 90px;
    height: 30px;
    margin: 10px;
    background-color: #C850C0;
    border-radius: 10%;
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
    color: white;
}   
.links a:visited {
    color: white;
    text-decoration: none;
  }
  .links a:active {
    color: white;
    text-decoration: none;
  }
.links a:link{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
}
#moreResources
{
    font-size: smaller;
}
.counterBal, .counterTotalRecited
{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F5F7F8;
    margin: 3px;
    width: 50%;
}
.counterBal p, .counterTotalRecited p
{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.counterBal h6, .counterTotalRecited h6
{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size:x-small;
}
.counter
{
    display: flex;
    flex-direction: row;
}
li
{
    line-height: 1.5;
}

@media screen and (max-width: 610px) 
{
    .container {
        max-width: 320px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    input
{
    width: 300px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: medium;
}
button {
    width: 325px;
    background-color: #3FA2F6;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
}
}
